.banner-container {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-overlay {
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  right: 0;
  bottom: 0;
  transform: translate(-10%, -20%);
  z-index: 10;
}

.play-pause-button {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  max-width: 290px;
  height: 30%;
  background-color: #033985;
}

.play-pause-button:hover {
  background: rgba(0, 0, 0, 0.8);
}
