.slick-next:before,
.slick-prev:before {
  font-size: 50px; /* Increase icon size */
  color: black !important; /* Set the icon color to black */
  background-color: transparent !important; /* Make the background transparent */
  border: none; /* Ensure no border is applied */
  box-shadow: none; /* Remove shadow if any */
}
